
# from old project (ROTATE KEYS FIRST!)
MONGODB_CONNECTION_STRING="mongodb:/***/chat_db?authSource=admin"
# Optional: explicit; if omitted we parse chat_db from the URI:
DB_NAME="chat_db"

# recommended: also set the canonical variable
MONGODB_URI="mongodb://**/chat_db?authSource=admin"

# app meta (optional)
APP_NAME="SETS-Chatbot"
APP_VERSION="0.1.1"
APP_DESCRIPTION="A chatbot for answering questions about your docs."
APP_AUTHOR="SETS INTERNATIONAL AI SERVICES TEAM"

# auth
SECRET_KEY="**"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60
