# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env
*.env

# Logs
*.log

# IDE / Editor settings
.vscode/
.idea/
*.swp

# OS-specific
.DS_Store
Thumbs.db

# Coverage / test
.coverage
*.cover
htmlcov/
.pytest_cache/
